<footer class="footer text-center">
    All Rights Reserved For Mr.Brown, Developed & Designed With
    <i class="fa fa-heart" style="color:red;"></i>
    By <a href="linkedin.com/abdukhteeb7">Abdu Khteeb</a>
</footer>